extends layout

block content
  .messages
    for message in messages
      .message
        if user && user.member
          p.author by #{message.author.fullname} 
        p.title= message.title
        p.content= message.content
        if user && user.member
          p.createdAt= message.createdAt 
        if user && user.admin
          form(action=`/delete-message/${message._id}`, method="post")#delete-message-form
            button(type="submit")#delete-message-button Delete
          
